ErrorDocument 403 /404.html
ErrorDocument 404 /404.html

DirectoryIndex page38607950.html

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} /robots.txt
RewriteCond "%{DOCUMENT_ROOT}/robots_%{HTTP_HOST}.txt" -f
RewriteRule ^(.*)$ robots_%{HTTP_HOST}.txt [NC,L]
RewriteRule ^suotschool$ page38508620.html [NC]
RewriteRule ^suotschool/$ page38508620.html [NC]


